.aboutme {
  height: 40vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.aboutme h2 {
  color: black;
  position: absolute;
  width: 100vw;
  top: 60px;
  text-align: center;
  font-size: 3rem;
}

.hello-background {
  position: absolute;
  font-size: 8rem;
  font-weight: bold;
  color: #f1f1f1;
  z-index: -1;
  position: absolute;
  top: 150px;
  left: 15%;
  line-height: 1.1;
}

.about-me-bio {
  position: absolute;
  font-size: 1.75rem;
  top: 200px;
  width: 65%;
  left: 20%;
}

@media all and (max-width: 1241px) {
  .aboutme {
    height: 40vw;
  }
}

@media all and (max-width: 904px) {
  .aboutme {
    height: 50vw;
  }
}

@media all and (max-width: 802px) {
  .aboutme {
    height: 60vw;
  }
}
@media all and (max-width: 724px) {
  .aboutme {
    height: 70vw;
  }
}

@media all and (max-width: 647px) {
  .aboutme {
    height: 80vw;
  }
}
@media all and (max-width: 601px) {
  .aboutme {
    height: 90vw;
  }
}

@media all and (max-width: 539px) {
  .aboutme {
    height: 100vw;
  }
}

@media all and (max-width: 515px) {
  .aboutme {
    height: 110vw;
  }
}

@media all and (max-width: 485px) {
  .aboutme {
    height: 115vw;
  }
  .aboutme h2 {
    top: 50px;
  }
  .hello-background {
    font-size: 6rem;
  }
  .about-me-bio {
    position: absolute;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 430px) {
  .aboutme {
    height: 125vw;
  }
  .aboutme h2 {
    top: 50px;
  }
  .hello-background {
    font-size: 6rem;
    left: 13%;
  }
  .about-me-bio {
    position: absolute;
    font-size: 1.5rem;
    left: 18%;
  }
}

@media all and (max-width: 375px) {
  .aboutme {
    height: 120vw;
  }
  .aboutme h2 {
    top: 50px;
  }
  .hello-background {
    font-size: 5rem;
  }
  .about-me-bio {
    position: absolute;
    font-size: 1.25rem;
  }
}

@media all and (max-width: 355px) {
  .aboutme {
    height: 130vw;
  }
  .aboutme h2 {
    top: 50px;
  }
  .hello-background {
    font-size: 4rem;
  }
  .about-me-bio {
    position: absolute;
    font-size: 1.2rem;
    top: 175px;
  }
}
